.հ {
  margin-left: 90px;
  font-size: 18px;
}

.div1 {
  margin-left: 10px;
}

#dl {
  margin-top: 10px;
}

.modal1 {
  height: 80%;
}

#name3, #name4, #name5, #name17, #name18, #name19, #name20, #name21, #name22, #name23 {
  resize: none;
}

.a1 {
  margin-left: 37px;
}

.a2 {
  margin-left: 74px;
}

body {
  font-family: Tahoma;
}

.d1 {
  margin-top: 10px;
}