.հ {
  margin-left: 90px;
  font-size: 18px;
}

.div1 {
  margin-left: 10px;
}

#dl {
  margin-top: 10px;
}

.modal1 {
  height: 40%;
}

.n1 {
  resize: none;
}

.a1 {
  margin-left: 37px;
}

.a2 {
  margin-left: 74px;
}

body {
  font-family: Tahoma;
}

.d1 {
  margin-top: 10px;
}